/*General*/
@media (max-width: 767.98px) {
  html, body {
    font-size: 12px !important;
  }
}

@media (max-width: 991.98px){ 
  html, body {
    font-size: 13px !important;
  }
}


#carouselExample .carousel-item img {  
   object-fit: cover;
   object-position: center;
   overflow: hidden;
   height:50vh;
   width: 100vw;
 }

#img-detail{
  height: 25vh;
}

/*carrito*/
.img-cart{
  object-fit: cover;
   object-position: center;
   overflow: hidden;
   height:6vh;
}
.quantity-card .input-group{
  width: 125px;
}

@media (max-width: 576px) {
  .quantity-card .input-group{
    width: 113px;
  } 
 }

